.home {
  flex: 1;

  display: flex;
  flex-direction: column;

  text-align: center;
}

.search-input {
  text-align: center;
  padding: 10px;
  font-size: 1.25em;
  border-radius: 5px;

  box-shadow: 0px 2px 3px 1px var(--color);

  margin-bottom: 10px;
}

/* 
Make CSS Fill reaminaing Dynamic height, but still be scrollable
https://stackoverflow.com/questions/22085498/make-a-div-fill-the-remaining-dynamic-height-and-scroll-without-javascript */
.result-list-wrapper {
  flex: 1;
  position: relative;
}

.result-list {
  position: absolute;
  top: 0;
  left: 0;

  height: 100%;
  width: 100%;

  overflow: auto;
}

.search-result {
  height: 88px;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  padding: 5px;

  border-bottom: 1px solid var(--color);
}

.search-result:hover {
  border-bottom: 1px solid var(--color);
}

.search-result__left {
  width: 88px;
  margin-right: 10px;
}

.search-result__left img {
  width: 75px;
  height: 75px;
  object-fit: contain;
}

.search-result__right {
  flex: 1;
  min-width: 0;
  text-align: left;
}

.search-result__right * {
  margin: 0px;
  margin-top: 5px;
  margin-bottom: 5px;

  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
