.header {
  width: 100%;
  border-bottom: 2px solid var(--color);
  padding-bottom: 5px;
}

.header > .nav {
  width: 100%;
  max-width: var(--center-width);

  margin-left: auto;
  margin-right: auto;
}

.nav {
  display: flex;
  justify-content: start;
  align-items: center;

  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
}

.nav a {
  border-bottom: 0px;
}

.nav__title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__title:hover {
  border-bottom: none;
}

.nav__title img {
  width: 50px;
  height: 50px;
}

.nav__title h1 {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 5px;
  font-size: 2em;
}

.nav__right {
  margin-left: auto;
  margin-right: 10px;
}

.nav__link {
  margin-left: 5px;
  margin-right: 5px;
  font-size: 1.5em;
  font-weight: bold;
}
