.footer {
  min-height: 50px;

  background-color: var(--color);
  color: var(--bg-color);

  padding: 5px;
}

.footer__container {
  width: 100%;
  max-width: var(--center-width);

  margin-left: auto;
  margin-right: auto;
}
