@import url("../node_modules/normalize.css/normalize.css");

@import url("./components/header/header.css");
@import url("./components/footer/footer.css");
@import url("./pages/home/home.css");
@import url("./pages/about/about.css");
@import url("./pages/project/project.css");
@import url("./pages/all-projects/all-projects.css");

:root {
  --bg-color: #fafafa;
  --color: #333333;
  --light-wasm-color: #9671fd;
  --dark-wasm-color: #654ff0;
  --center-width: 850px;
}

html,
body {
  font-family: sans-serif, system-ui, serif;

  background-color: var(--bg-color);
  color: var(--color);
  height: 100%;
}

body {
  margin: 0px;
}

hr {
  border: 0;
  height: 5px;
  margin: 4rem 0;
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#9671fd),
    to(#654ff0)
  );
  background-image: linear-gradient(
    to right,
    var(--dark-wasm-color),
    var(--light-wasm-color)
  );
  border-radius: 5px;
}

a {
  color: var(--color);
  text-decoration: none;
  border-bottom: 1px solid var(--color);
}

a:visited {
  color: var(--color);
}

a:hover {
  color: var(--dark-wasm-color);
  text-decoration: none;
  border-bottom: 1px solid var(--dark-wasm-color);
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.container__center {
  flex: 1;

  display: flex;
  flex-direction: column;

  width: 100%;
  max-width: var(--center-width);

  margin-left: auto;
  margin-right: auto;
}

.page {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.footer {
  flex-shrink: 0;
}

@keyframes donut-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.donut {
  display: inline-block;
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: var(--dark-wasm-color);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: donut-spin 1.2s linear infinite;
}
