@import url("./components/header/header.css");
@import url("./components/footer/footer.css");
@import url("./pages/home/home.css");
@import url("./pages/about/about.css");
@import url("./pages/project/project.css");

:root {
  --bg-color: #fafafa;
  --color: #333333;
  --light-wasm-color: #9671fd;
  --dark-wasm-color: #654ff0;
}

html,
body {
  background-color: var(--bg-color);
  color: var(--color);
  height: 100%;
}

body {
  max-width: 850px;
  margin: 0px;
  margin-left: auto;
  margin-right: auto;
}

hr {
  border: 0;
  height: 5px;
  margin: 4rem 0;
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#9671fd),
    to(#654ff0)
  );
  background-image: linear-gradient(
    to right,
    var(--dark-wasm-color),
    var(--light-wasm-color)
  );
  border-radius: 5px;
}

a {
  text-decoration: none;
  border-bottom: 1px solid var(--color);
}

a:visited {
  color: var(--color);
}

a:hover {
  color: var(--dark-wasm-color);
  text-decoration: none;
  border-bottom: 1px solid var(--dark-wasm-color);
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.page {
  flex: 1;

  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
}

.footer {
  flex-shrink: 0;
}
